{% extends "base.html" %}

{% block title %}Listado de Departamentos{% endblock %}

{% block content %}
    <h2>Listado de Departamentos - {{ numero }}</h2>
    {% for e in datos %}
        <ol>
            <li><b>Nombre de Propietario:</b> {{ e['nombre_propietario'] }}</li>
            <li><b>Número de cuartos:</b> {{ e['numero_cuartos'] }}</li>
            <li><b>Costo de departamento:</b> {{ e['costo'] }}</li>
            <li><b>Edificio:</b> {{ e['edificio'] }}</li>
        </ol>
        <hr>
    {% endfor %}
{% endblock %}
